# CMake
CMakeFiles/
cmake_install.cmake
CMakeCache.txt

# Build
Makefile
snake*

# VS Code
.vscode/

# Visual Studio
.vs/
out/

# vcpkg
vcpkg_installed/
vcpkg-bootstrap.log
vcpkg-manifest-install.log
